
body{
  font-size: 14px;
}
p{
    @include paragraph;
}

h1, h2, h3, h4, h5, h6{
  @include font;

}

h2{
  color: $black800;
  line-height: 1.1;
  font-size: $size-4;
  @include breakpoint(sm){
    font-size: $size-1;
  }
}
h4{
  color: $black800;
}

a{
  @include font;
  letter-spacing: 1px;

}
.overline{
  @include font;
  @include medium;
  color: $black300;
}



