/* CSS Document */
.clear-card{
	// @include clear-card;
}
.full-height{
	height: 100%;
}

.w-10{
  width: 15%;
}


.w-15{
  width: 15%;
}

.w-20{
  width: 20%;
}


.w-35{
  width: 35%;
}



.w-40{
  width: 40%;
}

.w-60{
  width: 60%;
}

.w-70{
  width: 70%;
}


.w-80{
  width: 80%;
}



.w-90{
  width: 20%;
}



.select-dropdown{
	margin:0 !important;
}

.flex-middle{
		justify-content: center!important;

	display: inline-flex!important;
	align-items: center!important;
	text-align: center!important;
	padding: 0;


}

.no-m-top{
	margin-top: 0 !important;

}

.no-m-bottom{
	margin-bottom: 0 !important;
}


.cancel{
	color:$red500;
}





.overlay{
	display: block;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	background: rgba(0,0,0,0.25);
	z-index: 99;
}
.highlight{
	font-weight: inherit;
	color: $teal500;
}


.red-highlight{
  color: $red500;
}


.el-group{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}


.disclaimer{
  font-size: $size-7;
  color: $black400;
}

.mark{
  padding: 0;
}
.black{
  color: $black800;
}

.no-bg{
  background: unset;
}


hr{
  color:$black100;
}


.has-border-right{
  border-right: 1px solid $black100;
}
