$base-size:16px;

$black1000: #000000;
$black900 : #1D1F21;
$black800 : #35393B;
$black700 : #4E5356;
$black600 : #6B7276;
$black500 : #81898D;
$black400 : #99A0A3;
$black300 : #B4B9BB;
$black200 : #D1D4D6;
$black100 : #EFF0F0;
$black000 : #F4F5F7;

$red900 : #2D0608;
$red800 : #640C12;
$red700 : #91121A;
$red600 : #BF222C;
$red500 : #E42531;
$red400 : #EA535C;
$red300 : #EF8087;
$red200 : #F5ADB2;
$red100 : #FBDBDD;


$teal900 : #092D34;
$teal800 : #11535F;
$teal700 : #197C8F;
$teal600 : #1F97AE;
$teal500 : #27BCD8;
$teal400 : #52C9E0;
$teal300 : #7DD7E8;
$teal200 : #A8E4F0;
$teal100 : #D4F2F7;




$white: #ffffff;

$white-shade: rgba(255,255,255,0.7);

$white-400: rgba(255,255,255,0.4);
$white-300: rgba(255,255,255,0.3);
$white-200: rgba(255,255,255,0.2);
$white-100: rgba(255,255,255,0.1);




//status colors

$succes-light: #D4F7E8;
$succes: #3DB870;


$body:#F9FAFC;
//Media Queries
$icons:#747D88;

$medium: "(min-width: 768px)";
$success-color:#000000;
$alert-color:#000000;
$medium-gray:#000000;



$font:'Roboto', sans-serif;
$size-11:0.25rem;
$size-10:0.41rem;
$size-9:0.5rem;
$size-8:0.625rem;
$size-7:0.75rem;
$size-6:0.875rem;
$size-5:1rem;
$size-4:1.25rem;
$size-3:1.5rem;
$size-2:1.75rem;
$size-1:2rem;

