.card{
  @include border;
  @include border-radius;
  background: $white;
  padding: $size-3;
  //margin-bottom: ;
  @include breakpoint(sm){
    padding: $size-5;
  }

  @include breakpoint(xxl){
    padding: $size-3;
  }
}


.card-info{
  margin-bottom: $size-4;
}


.card-label{
  size: $size-4;
  color: $black400;
  line-height: 1.2;
  @include bold;
}


.report-value{
  font-size: $size-4;
  color: $black800;
  @include medium;
}




.doughnut-chart-container{
position: relative;
  max-width: 124px;
}
.doughnut-chart{
  max-width: 112px;
  height: 112px;
  margin: auto;
}

.doughnut-chart-label{
  position: absolute;
  line-height: 1;
  top: 2.15rem;

  text-align: center;

  max-width: 100%;

  left: 0;

  right: 0;
}


.vertical-cards{
  margin-bottom: $size-3;
}

.data-usage-container{


  .el-group:not(:first-child){
    width: 100%;
    margin-bottom: $size-5;


    @include breakpoint(sm){
      width: unset;
      margin-bottom: 0;
    }
  }

  .el-group:first-child{

    flex-direction: column-reverse;
    justify-content: left;
    align-items: flex-start;
    @include breakpoint(sm){

      flex-direction: inherit;
      justify-content: space-between;
      align-items: center;
    }

  }
}
.usage-chart{
  min-height: 296px;
}

.tab-pane{
  padding: $size-3 0;
}



.data-table{

  &-header{
    padding:1rem 1.5rem;
    @include bold;
    color: $black300;

    display: flex;
    @include breakpoint(sm){

    }
  }

  &-row{
    padding: 0.65rem $size-9;
    color: $black800;
    display: flex;
    align-items: center;
    @include breakpoint(sm){
      padding: 0.65rem 1.5rem;


    }
    &:nth-child(odd){
      background-color: $black100;

      .progress-bar{
        background-color: $white;
      }
    }


  }

  span{
    display: block;
  }


  .cell{
    @include font;
    font-weight: regular;
    font-size: $size-6;
    @include breakpoint(sm){
      font-size: $size-5;
    }
  }

  .icon{
    height:$size-3;
    width: $size-3;
    margin-right: 1rem;
    img{
      max-width: $size-3;
      width: 100%;
      height: 100%;
    }
  }
}

