.mobile-logo{
  height: $size-1;
  img{
    position: relative;
    height: inherit;
  }
}

.data-plan{
  .card{
    margin-bottom: $size-3;
  }

  @include breakpoint(sm){
    margin-bottom: 0;

  }

  @include breakpoint(xxxl){

    .card{
      margin-bottom: $size-3;
    }
  }
}
#client{padding-right: 0}
#client-phone{
  margin-bottom: 0;
  width: 100%;

  @include breakpoint(sm){
    max-width: 344px;
  }

  @include breakpoint(xxxl){
    margin-left: 3rem
  }
  label{
    font-size: $size-4;
  }


  .form-control-lg{
    display: inline-block;
    position: relative;
    letter-spacing: 1px;
    color: $black800;
    @include bold;
    @include border;
    @include border-radius;
    padding:  $size-11 $size-5;
    height: unset;
    font-size: 1.15rem;
    @include breakpoint(sm){
      font-size: $size-4;
      padding: $size-10 1rem;

    }


  }






}

#resume-navigation{
  padding: 0;
  overflow-x: scroll;
  background: $white;
  @include border-bottom;

  @include breakpoint(sm){
    display: flex;
    align-items:top ;
    justify-content:end;
    padding-top: 0.25rem;
    padding-left: 0;
    overflow-x: unset;
    border-bottom: unset;
    background: unset;
  }

  @include breakpoint(xxxl){
    align-items:center;
    padding-top: 0rem;
  }



}



#notif-dropdown {

  height: 32px;
  width: 32px;
  display: block;
  text-align: center;
  line-height: 1.5;

  margin-right: $size-3;
  @include breakpoint(sm){
    margin: 0 $size-3;
  }

  &:hover i {

    background-position-y: -27px;
  }

  i{
    position: relative;
    top: 3px;
    span{

      height: 1rem;
      width: 1rem;
      display: block;
      background: $red500;
      border: 4px solid $white;
      border-radius: 24px;
      position: absolute;
      right: -8px;
      top: -2px;

    }
  }
  &::after{
    display: none;
  }
}


.profile-settings{
  overflow: hidden;
  height: 36px;
  width: 36px;
  border: 1px solid rgba(0,0,0,0.1);
  cursor: pointer;
  box-sizing: border-box;
  //border-style: inset;
  border-radius: 50%;
  &:hover{
    border: 1px solid $red100;
  }
  image{
    height: 100%;
  }
}

#tech-support-cta{
  display: flex;
  //margin: 0 $size-3;
  width: 100%;
  position: absolute;
  bottom: 3rem;
  a{
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    justify-content: center;
    padding: $size-8;
  }
}


