.branding{
  padding: 0.75rem 1.5rem;
}
.sidebar-menu{
  background: $red500;
}

.logo{
  max-width: 128px;
}


#menu{

}


.header-area{
  background: $white;
  @include border-bottom;
  position: sticky;
  z-index: 9999;
  top: 0;
  padding: $size-7 $size-5;
  @include breakpoint(sm){
    padding: $size-6 $size-4;
  }
}


