.page-container {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  //padding-left:280px;
  -webkit-transition: padding-left 0.3s ease 0s;
  transition: padding-left 0.3s ease 0s;
  @include breakpoint(sm){
    padding-left: 280px;

  }
}

.main-content {

  width: 100%;
  background: $black000;
  overflow-x: hidden;

}


.main-content-inner {

  padding: 0 $size-9;

  @include breakpoint(sm){
    padding: 0 1.5rem;
    margin-left: unset;
    margin-right: unset;
  }

}


.title-area{
  padding: $size-3 1rem;
  @include breakpoint(sm){
    padding: 2rem 1.5rem 0.5rem;
  }
}
