.sidebar-menu {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  display: none;
  @include breakpoint(sm){
    display: block;
    height: 100vh;
    width: 280px;
    overflow: hidden;
    box-shadow: 2px 0 32px rgba(0, 0, 0, 0.05);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

}

.nav-btn{
  margin: 0 auto;
}
.navbar{
  flex-wrap: wrap;
  padding: 2.25rem 0;
  &-nav{
    flex-wrap: wrap;



  }

  .dropdown-menu {

    position: relative;
    float: none;
    top: unset;
    border-radius: unset;
    margin-top: 0;
    margin-left: -1px;
    margin-right: -1px;
    background-color: $red700;
    width:100%;
    padding: 0;

  }

  .dropdown-item{
    color: $white;
    padding: 0.62rem 2.25rem;

    &:hover{
      background-color: $red600;
    }


  }

}

.dropdown-toggle::after{
  float: right;
  margin-top: 8px;
}






.nav-item{
  width: 100%;

  &.active{
    a{
      background-color: $red700
    }
  }

}

.nav-link, .navbar-expand-sm .navbar-nav .nav-link{
  color: $white;
  padding: 0.62rem 1.5rem;
  font-size: $size-6;
  margin: $size-8 0;
  @include bold;
  &[aria-expanded="true"]{
    margin-bottom: 0;
    background: $red600;

  }
  &:hover{
    background: $red600;
  }


  i{
    margin-right: 0.75rem
  }


}


.nav{
  flex-wrap: nowrap;
}


.nav-secondary{

  justify-content: space-between;
  .nav-item{
    //margin: 0 $size-8;
    width: auto;
    display: inline-block;
    min-width: max-content;
    @include breakpoint(sm){
      width: unset;
    }
  }
  .nav-link{

    color: $black400;
    display: flex;
    margin: 0;
    letter-spacing: 0;
    //align-items: center;
    padding: $size-6 $size-3;
    @include breakpoint(xxxl){
      margin: 0 $size-8;
      padding: 0.62rem 1.5rem;
    }


    &.active{
      color: $red500;
      i{
        background-position-y: 22px;
      }
    }

    &:hover{
      color: $red500;
      background: unset;
      i{
        color: $red500;
        background-position-y: 22px;
      }
    }

    i{
    }


    @include breakpoint(sm){
      padding: $size-9 $size-7;
    }

    @include breakpoint(xxxl){
      padding: $size-9 $size-6 !important;
    }

  }

}



.nav-tabs{
  border-color:$black100;
  .nav-link{
    border: none;
    border-radius: 0;
    color: $black800;
    font-size: $size-5;
    padding: $size-9 0;
    margin: 0;
    text-align: center;

    &:hover{
      color: $teal500;
      background: $teal100;
    }

    &.active{
      color: $teal500;
    }

  }

  .nav-item{
    margin-bottom: 0;
  }

}

.breadcrumbs{
  padding: 0;
  margin-top: 0;
}

.breadcrumbs li span {
  font-size: $size-6;
  margin: 0;
  color: $black300;

  @include bold;
  //text-transform: capitalize;
  @include breakpoint(sm){
    font-size: $size-6;
    margin-right: 0;

  }
}

.nav-btn span{
  width: 24px;
  height: 3px;
  border-radius: 0;
  background: $black800;
  box-shadow: unset;

  &:first-child{
    width: 20px;
  }
  &:last-child{
    width: 20px;
  }
}
